    * {
        margin: 0px;
        padding: 0px;
        border: 0px;
        outline-style: none;
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -webkit-appearance: none;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
    
    div.place a.logo {
        position: absolute;
        background: #e81d55;
        width: 4.5vw;
        height: 3.5vw;
        vertical-align: middle;
        left: 0;
        top: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: underline;
    }
    
    div.place span.info {
        font-size: .8vw;
        font-family: "helvetica-black", Arial, Helvetica, sans-serif;
        padding: 0.7vw 1vw;
        display: inline-block;
        line-height: .8vw;
        margin: 0px!important;
        text-transform: uppercase;
    }
    
    header ul.cols li:nth-child(2) {
        width: 9vw;
    }
    
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    
    ul li {
        padding: 0px;
        margin: 0px 0px 0.5vw 1.5vw;
        text-align: left;
    }
    
    div.place {
        background: #3b3358;
        color: rgba(255, 255, 255, .5);
    }
    
    body {
        width: 100%;
        height: 100%;
        background: #fafafa;
        font-family: "helvetica-light", Arial, Helvetica, sans-serif;
        font-size: .8vw;
        color: #000000;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        position: relative;
        display: block;
    }
    
    div {
        display: block;
    }
    
    div.wrapper {
        width: calc(100% - 25.8vw);
        margin: 0px auto;
        position: relative;
        z-index: 5;
        border: 1px solid #ffffff;
        /* box-shadow: 0px 0px 100px rgb(0 0 0 / 30%); */
        background: #ffffff;
        border-left: 1px solid rgba(0, 0, 0, .05);
        border-right: 1px solid rgba(0, 0, 0, .05);
    }
    
    svg,
    img,
    iframe,
    video,
    audio {
        overflow: visible;
        vertical-align: middle;
    }
    
    header nav {
        position: relative;
    }
    
    header {
        display: block;
    }
    
    header nav span.view.list {
        background-image: url("source/view-list.svg");
    }
    
    div.place>ul.cols>li:nth-child(1) {
        width: 4.6vw;
        background: #e81d55;
        border-right: 1px solid #ffffff;
        overflow: hidden;
    }
    
    header ul.cols li:nth-child(3) {
        width: 3.5vw;
        height: 3.5vw;
        text-align: center;
    }
    
    header ul.cols li:nth-child(4) a {
        font-family: "helvetica-black", Arial, Helvetica, sans-serif;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: .8vw;
        letter-spacing: -.03vw;
        display: flex;
        padding: 0;
        text-shadow: 0px 1px 1px rgb(0 0 0 / 20%);
        transition: all .5s;
    }
    
    header ul.cols li:nth-child(4) {
        text-align: center;
        height: 3.5vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 1vw;
    }
    
    ul.cols>li {
        display: table-cell;
        list-style-type: none;
        vertical-align: middle;
        position: relative;
        padding: 0px;
        margin: 0px;
    }
    
    header ul.cols li:nth-child(5) {
        width: 3.5vw;
        height: 3.5vw;
        text-align: center;
    }
    
    header ul.cols li:nth-child(6) {
        width: 3.5vw;
        height: 3.5vw;
        text-align: center;
    }
    
    div.place>ul.cols>li {
        border-right: 1px solid rgba(255, 255, 255, .2);
    }
    
    header nav span.view {
        display: inline-block;
        width: 3.5vw;
        height: 3.5vw;
        cursor: pointer;
        position: absolute;
        left: 0px;
        top: 0px;
        transition: all .5s;
        background-size: 1.5vw auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("source/view-table.svg");
    }
    
    header nav span.login {
        display: inline-block;
        width: 3.5vw;
        height: 3.5vw;
        cursor: pointer;
        position: absolute;
        left: 0px;
        top: 0px;
        transition: all .5s;
        background-size: 1.5vw auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("source/login.svg");
    }
    
    header nav span.search {
        display: inline-block;
        width: 3.5vw;
        height: 3.5vw;
        cursor: pointer;
        position: absolute;
        left: 0px;
        top: 0px;
        transition: all .5s;
        background-size: 1.5vw auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("source/search.svg");
    }
    
    div.place a.logo img {
        width: 4.5vw;
        height: 4.5vw;
        padding: 0.7vw;
        transition: all .5s;
    }
    
    div.login {
        max-height: 0;
        overflow-y: hidden;
        transition: all .5s;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, .05)100%);
    }
    
    div.login.on {
        max-height: 200px;
    }
    
    form.megaform {
        text-align: left;
    }
    
    div.login form.megaform {
        padding: 1vw 1.82vw 1.82vw 1.82vw;
    }
    
    ul.cols {
        display: table;
        table-layout: fixed;
        width: 100%;
        padding: 0px;
        margin: 0px;
        position: relative;
        overflow: visible!important;
    }
    
    ul,
    ol {
        padding: 0px;
        margin: 1vw 0px 0.5vw;
        overflow: hidden;
        list-style-type: disc;
    }
    
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    
    div.login form.megaform label {
        margin: 1vw 0vw 0vw;
    }
    
    form.megaform label span {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        font-size: .6vw;
        font-family: "helvetica-bold", Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        transition: all .5s;
        opacity: .7;
        color: #000000;
    }
    
    input {
        text-rendering: auto;
        color: -internal-light-dark(black, white);
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: auto;
        -webkit-rtl-ordering: logical;
        cursor: text;
        background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
        margin: 0em;
        padding: 1px 2px;
        border-width: 2px;
        border-style: inset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
    }
    
    form.megaform input[type="text"],
    form.megaform input[type="tel"],
    form.megaform input[type="email"],
    form.megaform input[type="date"],
    form.megaform input[type="time"],
    form.megaform input[type="password"],
    input[type="url"] {
        font-size: 1vw;
        font-family: "helvetica-light", Arial, Helvetica, sans-serif;
        height: 4vw;
        position: relative;
        border-bottom: 0.2vw solid rgba(37, 37, 37, .07)!important;
        width: 100%;
        z-index: 1;
        background: none;
        padding: 0;
        color: rgba(37, 37, 37, 0);
        transition: all .5s;
    }
    
    ul.cols>li.blank {
        width: 1.84vw;
    }
    
    form.megaform label {
        display: block;
        position: relative;
        text-align: left;
        width: 100%;
        margin: 1vw 0vw 2vw;
        font-size: 0;
    }
    
    form.megaform label span {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        font-size: .6vw;
        font-family: "helvetica-bold", Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        transition: all .5s;
        opacity: .7;
        color: #000000;
    }
    
    form.megaform input[type="text"],
    form.megaform input[type="tel"],
    form.megaform input[type="email"],
    form.megaform input[type="date"],
    form.megaform input[type="time"],
    form.megaform input[type="password"],
    input[type="url"] {
        font-size: 1vw;
        font-family: "helvetica-light", Arial, Helvetica, sans-serif;
        height: 4vw;
        position: relative;
        border-bottom: 0.2vw solid rgba(37, 37, 37, .07)!important;
        width: 100%;
        z-index: 1;
        background: none;
        padding: 0;
        color: rgba(37, 37, 37, 0);
        transition: all .5s;
    }
    
    form.megaform input,
    form.megaform textarea,
    form.megaform select {
        box-shadow: none!important;
    }
    
    form.megaform label.on input:invalid {
        color: rgba(232, 29, 85, 1)!important;
    }
    
    form.megaform input[type="submit"],
    form.megaform input[type="button"] {
        font-family: "helvetica-bold", Arial, Helvetica, sans-serif;
        font-size: 0.65vw;
        background: #3b3358;
        color: #ffffff;
        padding: 0.7vw 1vw;
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 1vw;
        transition: all .5s;
        text-shadow: 0px 1px 1px rgb(0 0 0 / 20%);
    }
    
    div.search {
        max-height: 0;
        overflow: hidden;
        transition: all .5s;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, .05)100%);
    }
    
    div.search.on {
        max-height: 200px;
    }
    
    form.megaform label input {
        color: rgba(37, 37, 37, 1)!important;
    }
    
    ul.cols.news li img {
        width: 100%;
        height: auto;
        display: block;
        transition: all .5s;
    }
    
    ul.cols.news.list li p {
        display: block;
    }
    
    ul.cols.news li p {
        font-size: 1.2vw;
        line-height: 1.6vw;
        padding: 0;
        display: block;
        font-family: "helvetica-light", Arial, Helvetica, sans-serif;
        font-size: .9vw;
        line-height: 1.3vw;
        margin: 0;
        display: none;
    }
    
    ul.cols.news.list li span.title {
        font-size: 1.2vw;
        line-height: 1.4vw;
    }
    
    ul.cols.news.list {
        padding: 0.92vw 0 0.92vw 1.84vw;
    }
    
    ul.cols.news {
        width: calc(100% + 3px);
    }
    
    ul.cols.news.list li span.img {
        width: 12vw;
        min-height: 6.8vw;
        height: auto;
        float: left;
        margin: 0 1.84vw 0.92vw 0;
    }
    
    ul.cols.news.list li:first-child {
        display: inline-table;
    }
    
    ul.cols.news.list li {
        width: 100%;
        border: 0;
    }
    
    ul.cols.news.list li:first-child {
        display: inline-table;
    }
    
    ul.cols.news li {
        display: inline-table;
        width: 33.3%;
        border-right: 1px solid #ffffff;
        vertical-align: top;
        overflow: hidden;
    }
    
    div.home>ul.cols>li.home {
        padding: 1.84vw;
    }
    
    div.home>ul.cols>li:last-child {
        padding: 0 0 0 1.84vw;
        width: 28.1vw;
    }
    
    div.home>ul.cols>li {
        vertical-align: top;
    }
    
    ul.cols.news.list li span.title {
        padding: 0;
        margin: 1vw 1.84vw 0.4vw 1.84vw;
        color: #e81d55;
        font-size: .9vw;
        line-height: 1vw;
        position: relative;
        top: -0.2vw;
    }
    
    ul.cols.news.list li span.title {
        padding: 0;
        margin: 1vw 1.84vw 0.4vw 1.84vw;
        color: #e81d55;
        font-size: .9vw;
        line-height: 1vw;
        position: relative;
        top: -0.2vw;
    }
    
    ul.cols.news.list li span.title {
        padding: 0;
        margin: 1vw 1.84vw 0.4vw 1.84vw;
        color: #e81d55;
        font-size: .9vw;
        line-height: 1vw;
        position: relative;
        top: -0.2vw;
    }
    
    ul.cols.news.list li span.title {
        font-size: 1.2vw;
        line-height: 1.4vw;
    }
    
    ul.cols.news li span.title {
        padding: 0.92vw;
        display: block;
        font-family: "helvetica-bold", Arial, Helvetica, sans-serif;
        font-size: .9vw;
        line-height: 1vw;
        letter-spacing: -.03vw;
        word-break: break-word;
    }
    
    a {
        text-decoration: none;
    }
    
    div.home div.new a.title {
        font-family: "helvetica-bold", Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: #e81d55;
        font-size: .9vw;
        line-height: 1vw;
        position: relative;
        top: -0.15vw;
        font-size: 1.2vw;
        line-height: 1.4vw;
    }
    
    a.more {
        background: #3b3358;
        color: #ffffff;
        font-family: "helvetica-black", Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        font-size: .65vw;
        display: inline-block;
        padding: 0.7vw 1vw;
        text-shadow: 0px 1px 1px rgb(0 0 0 / 20%);
        transition: all .5s;
        line-height: .7vw;
    }
    
    div.place {
        background: #3b3358;
        color: rgba(255, 255, 255, .5);
    }
    
    div.place>ul.cols {
        height: 3.5vw;
    }
    
    p {
        font-size: .95vw;
        line-height: 1.5vw;
        letter-spacing: .052vw;
        margin: 0 0 1vw 0;
        text-align: justify;
        display: block;
        color: #000000;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
    
    footer ul.cols>li:nth-child(3) {
        text-align: center;
        width: 22%;
    }
    
    .megasocial0 {
        display: inline-block;
        position: relative;
    }
    
    .megac1643226098657 a:hover svg {
        transform: perspective(100px) rotateY( 180deg) !important;
    }
    
    .megac div a svg {
        width: 2vw!important;
        height: 2vw!important;
        padding: 0.4vw!important;
    }
    
    .megac1643226098657 a svg {
        vertical-align: middle;
        display: table-cell !important;
        width: 32px !important;
        height: 32px !important;
        background: rgb(255, 51, 0) !important;
        padding: 6px !important;
        transition: all 1s ease 0s !important;
        transform: perspective(100px) rotateY( 0deg) !important;
    }
    
    .megac1643226098657 * {
        box-sizing: border-box !important;
        padding: 0px !important;
        margin: 0px !important;
        float: none !important;
        text-align: left !important;
        vertical-align: middle !important;
        position: relative !important;
        border: 0px !important;
    }
    
    div.place span.info span.text {
        font-size: .6vw;
        font-family: "helvetica-light", Arial, Helvetica, sans-serif;
        color: #ffffff!important;
        display: inline-block;
        line-height: .75vw;
        text-transform: none;
    }
    
    div.place span.info span.copy {
        font-size: .6vw;
        font-family: "helvetica-light", Arial, Helvetica, sans-serif;
        color: #ffffff;
        display: block;
        line-height: .6vw;
        text-transform: none;
        opacity: .5;
    }
    
    .megasocial0 ul {
        padding: 0px;
        margin: 0px;
        display: block;
        text-align: center;
        overflow: visible !important;
    }
    
    .megasocial0 ul li img {
        height: 40px;
        padding: 0px;
    }
    
    .megasocial ul li img {
        height: 1.2vw!important;
        transition: all .5s;
    }
    
    footer ul.cols>li:nth-child(4) img {
        width: 78%;
        height: auto;
        max-width: 88px;
        opacity: .5;
    }
    
    footer ul.cols>li:nth-child(5) {
        text-align: right;
    }
    
    footer span.count {
        display: block;
        text-transform: uppercase;
        white-space: nowrap;
        padding: 0 1vw 0 0;
        font-size: .8vw;
    }
    
    .megac1643229110420 {
        display: inline-block !important;
        float: none !important;
        padding: 0px !important;
        margin: 0px !important;
        border: 0px !important;
        vertical-align: middle !important;
    }
    
    .megac1643229110420 a {
        display: table !important;
        font-family: wf_SegoeUILight, wf_SegoeUI, "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", Helvetica, Arial, sans-serif !important;
        text-decoration: none !important;
        color: rgb(37, 37, 37) !important;
        font-size: 10px !important;
        line-height: 8px !important;
        letter-spacing: 0px !important;
        text-transform: uppercase !important;
    }
    
    .megac1643229110420 * {
        box-sizing: border-box !important;
        padding: 0px !important;
        margin: 0px !important;
        float: none !important;
        text-align: left !important;
        vertical-align: middle !important;
        position: relative !important;
        border: 0px !important;
    }
    
    .megac1643229110420 a svg {
        vertical-align: middle;
        display: table-cell !important;
        width: 32px !important;
        height: 32px !important;
        background: rgb(255, 51, 0) !important;
        padding: 6px !important;
        transition: all 1s ease 0s !important;
        transform: perspective(100px) rotateY( 0deg) !important;
    }
    
    .megasocial0 ul li {
        list-style-type: none;
        padding: 0px;
        margin: 8px;
        display: inline-block;
        vertical-align: middle;
        height: 40px;
        text-align: center;
    }
    
    footer ul.cols>li:nth-child(2) {
        color: #ffffff;
        width: 37%;
    }
    
    footer span.count span {
        font-family: "helvetica-black", Arial, Helvetica, sans-serif;
    }
    
    div.place>ul.cols>li:last-child {
        border: 0;
    }
    
    .megac1643229745600 {
        display: inline-block !important;
        float: none !important;
        padding: 0px !important;
        margin: 0px !important;
        border: 0px !important;
        vertical-align: middle !important;
    }
    
    .megac1643229745600 a {
        display: table !important;
        font-family: wf_SegoeUILight, wf_SegoeUI, "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", Helvetica, Arial, sans-serif !important;
        text-decoration: none !important;
        color: rgb(37, 37, 37) !important;
        font-size: 10px !important;
        line-height: 8px !important;
        letter-spacing: 0px !important;
        text-transform: uppercase !important;
    }
    
    footer ul.cols>li:nth-child(4) {
        text-align: center;
        width: 12%;
    }
    
    footer ul.cols>li:nth-child(6) {
        width: 3.5vw;
        text-align: center;
    }
    
    .megac1643232552944 {
        display: inline-block !important;
        float: none !important;
        padding: 0px !important;
        margin: 0px !important;
        border: 0px !important;
        vertical-align: middle !important;
    }
    
    .megac1643232552944 a {
        display: table !important;
        font-family: wf_SegoeUILight, wf_SegoeUI, "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", Helvetica, Arial, sans-serif !important;
        text-decoration: none !important;
        color: rgb(37, 37, 37) !important;
        font-size: 10px !important;
        line-height: 8px !important;
        letter-spacing: 0px !important;
        text-transform: uppercase !important;
    }
    
    .megac1643232552944 a svg {
        vertical-align: middle;
        display: table-cell !important;
        width: 32px !important;
        height: 32px !important;
        background: rgb(255, 51, 0) !important;
        padding: 6px !important;
        transition: all 1s ease 0s !important;
        transform: perspective(100px) rotateY( 0deg) !important;
    }
    
    .megac1643232552944 * {
        box-sizing: border-box !important;
        padding: 0px !important;
        margin: 0px !important;
        float: none !important;
        text-align: left !important;
        vertical-align: middle !important;
        position: relative !important;
        border: 0px !important;
    }
    
    .megac1643232552944 a svg path {
        fill: rgb(255, 255, 255) !important;
    }
    
    span.nstat {
        display: inline-block;
        white-space: nowrap;
        font-family: "helvetica-black", Arial, Helvetica, sans-serif;
        margin: 0 1vw 1vw 0;
        text-shadow: 0px 1px 1px rgb(0 0 0 / 50%);
        font-size: .6vw;
        line-height: .8vw;
    }
    
    span.nstat span {
        display: inline-block;
        background: #e81d55;
        color: #ffffff;
        padding: 0.4vw;
    }
    
    ul.cols.news.list li a span.nstat {
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        bottom: auto;
    }